# Data Partitioning

Partitioning data to make it easier to save

In [1]:
import pandas as pd

In [2]:
PATH_FILES='../data/instacart-market-basket-analysis/'

## Get The Data

In [4]:
df_prior=pd.read_csv(PATH_FILES+'orders.csv')
# df_prior=pd.read_csv(PATH_FILES+'order_products__prior.csv')

# df_ratings=df_ratings.sort_values('timestamp')
# df_ratings=df_ratings.reset_index()
# del df_ratings['index']

In [8]:
df_prior.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [9]:
df_prior.shape

(3421083, 7)

In [10]:
df_prior.shape[0]/3

1140361.0

In [11]:
k=1200000
i=9
for i in range(4):
    dk=df_prior[(i*k):(i*k)+k]
    dk.to_csv(PATH_FILES+'orders_'+str(i)+'.csv',index=False)
# df_ratings[(i*k):(i*k)+k]

In [12]:
len(dk)

0