# Data Checking

overview of the data and make it less

In [1]:
import pandas as pd

In [2]:
PATH_FILES='../data/instacart-market-basket-analysis/'

## Get The Data

In [3]:
df_prior=pd.read_csv(PATH_FILES+'order_products__prior.csv')
# df_ratings=df_ratings.sort_values('timestamp')
# df_ratings=df_ratings.reset_index()
# del df_ratings['index']

In [4]:
df_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [5]:
df_prior.shape

(32434489, 4)

In [7]:
df_prior.shape[0]/10

3243448.9

In [8]:
k=3300000
i=9
for i in range(11):
    dk=df_prior[(i*k):(i*k)+k]
    dk.to_csv(PATH_FILES+'order_products__prior_'+str(i)+'.csv',index=False)
# df_ratings[(i*k):(i*k)+k]

In [9]:
len(dk)

0